body{
    margin: 0%;
    padding: 0%;
}

h1{
    margin-top: 0%;
    padding: 20px;
}

.dropbox{
    display: none;
    width: 20px;
    height: 20px;
    background-color: white;
}

h2{
    margin-top: 0%;
    padding: 20px;
}

p{
    padding: 20px;
}

header{
    height:10vh;
    background-color: red;
}

.s1{
    height: 30vh;
    background-color: yellow;
    
}

.s2{
    height: 30vh;
    background-color: orange;
}

.s3{
    height: 30vh;
    background-color: green;
}

@media only screen and (min-width: 481px) and (max-width: 768px){

    header{
        text-align: center;
        background-color: hotpink;
    }
    
    .s1{
        height: 30vh;
        background-color: rgb(255, 0, 106);
        
    }
    
    .s2{
        height: 30vh;
        background-color: rgb(0, 102, 255);
    }
    
    .s3{
        height: 30vh;
        background-color: rgb(0, 67, 190);
    }
    
}

@media only screen and (max-width: 480px){

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:10vh;
        background-color: rgb(79, 135, 255);
    }

    .dropbox{
        display: flex;
        width: 20px;
        height: 20px;
        margin-right: 40px;
        background-color: rgba(255, 255, 255, 0.842);
    }
    
    .s1{
        height: 30vh;
        background-color: rgb(0, 247, 255);
        
    }
    
    .s2{
        height: 30vh;
        background-color: rgb(255, 0, 234);
    }
    
    .s3{
        height: 30vh;
        background-color: rgb(0, 68, 255);
    }
    
}